/* importing font from google font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "heebo", "san serif";
}

html {
    scroll-behavior: smooth;
  }


.headercontainer{
    position: relative;
    height: 800px;
    max-width: 100%;
    background: rgba(15, 4, 76, 0.05);
    
}

.headimg{
    width: 100%;
    height: 100%;
    opacity: 0.05;
}

.logo{
    position: absolute;
    left: 150px;
    top: 30px;
}

.navbar{
    position: absolute;
    right: 150px;
    top: 50px;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding: 30px;
}

li a{
    text-decoration: none;
    color: #0F044C;
    font-weight: 600;
}

.headerbody{
    position: absolute;
    top: 300px;
    left: 150px;
    font-size: 25px;
    line-height: 1.2;
    color: #0F044C;
}

.rhimg{
    position: absolute;
    top: 70px;
    right: 150px;
    opacity: 0.7;
}

.motto{
    color: #0F044C;
    margin-top: 10px;
    font-size: 20px;
}

.hlink{
    position: absolute;
    left: 150px;
    top: 500px;
    background-color: #0F044C;
    padding: 20px;
    color: white;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    width: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
}


.aboutus{
    margin-top: 150px;    
}

.aboutus h1{
    font-weight: 600;
    color: #787A91;
    text-align: center;
    font-size: 40px;
}



.aboutus p{
    text-align: center;
    margin-top: 50px;
    letter-spacing: 2px;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.9);
}


.services{
    margin-top: 150px;
    padding: 56px;
    background: rgba(15, 4, 76, 0.05);
    height: 700px;
}

.services h1{
    font-weight: 600;
    color: #787A91;
    text-align: center;
    font-size: 40px;
}


.services p{
    margin-top: 20px;
    color: #787A91;
    text-align: center;
}


.con #contactus{
    margin-top: 150px;
    font-weight: 600;
    color: #787A91;
    text-align: center;
    font-size: 40px;
}


.contactbackground{
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 650px;
    background: #0F044C;
}

.contact .text{
    position: absolute;
    left: 150px;
    top: 150px;
    color: white;
}

.text h1{
    font-size: 40px;
}

.text p{
    font-size: 20px;
}


.contact .mail{
    position: absolute;
    left: 150px;
    top: 400px;
    color: #787A91;
    font-weight: 600;
    background-color: white;
    padding: 15px;
    width: 400px;
    height: 70px;
    border-radius: 20px;
}

#mailb{
    position: absolute;
    left: 150px;
    top: 480px;
    color: #787A91;
    font-weight: 600;
}

#create{
    color: #787A91;
    margin-top: 10px;
}


.conform{
    position: absolute;
    right: 150px;
    top: 50px;
    border-radius: 20px;
    background-color: white;
    padding: 25px;
    width: 30%;
}

input, textarea{
    padding: 10px;
    width: 100%;
    background: rgba(120, 122, 145, 0.28);
    border: none;
    border-radius: 10px;
}

button{
    padding: 10px;
    width: 40%;
    background: #0F044C;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}

.footer{
    position: relative;
    background: rgba(120, 122, 145, 0.28);
    width: 100%;
    height: 200px;
    margin-top: 150px;
}


.ftext{
    position: absolute;
    padding: 20px;
    top: 40px;
    width: 100%;
    text-align: center;
    color: #787A91;
}

.icons span{
    padding: 5px;
    margin-left: 10px;
}

